@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* width */
.small-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 15px;
}

/* Track */
.small-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
.small-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
.small-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .active-side-menu {
    @apply cursor-pointer relative text-blue-700 bg-blue-100 before:absolute before:h-[100%] before:w-[4px] before:bg-blue-500 before:rounded-tr-full before:rounded-br-full before:left-0 before:top-0
  }
  .active-nav-list {
    @apply cursor-pointer relative text-blue-700 before:absolute before:h-[4px] before:translate-y-[100%] before:w-[100%] before:bg-blue-500 before:rounded before:left-0 before:-bottom-4
  }
  .table-active {
    @apply bg-blue-50
  }
  .active-todo-event {
    @apply bg-green-100 outline outline-4 outline-green-100 cursor-pointer
  }

  table {
    @apply w-full text-xs
  }
  table > thead {
    @apply bg-blue-50 text-xs
  }
  table > thead > tr > td {
    @apply p-2
  }
  table > thead > tr > td:first-child, table > tbody > tr > td:first-child {
    @apply rounded-l-lg text-center
  }
  table > thead > tr > td:last-child, table > tbody > tr > td:last-child {
    @apply rounded-r-lg
  }
  table > tbody > tr > td {
    @apply px-2 py-2
  }
  

  .badge {
    @apply px-2 py-1 rounded-lg cursor-pointer
  }
  .badge-fill-default {
    @apply bg-gray-600 text-white
  }
  .badge-fill-success {
    @apply bg-green-600 text-white
  }
  .badge-fill-warning {
    @apply bg-yellow-600 text-white
  }
  .badge-fill-danger {
    @apply bg-red-600 text-red-600
  }
  .badge-default {
    @apply border border-gray-600 text-gray-600
  }
  .badge-success {
    @apply border border-green-600 text-green-600
  }
  .badge-warning {
    @apply border border-yellow-600 text-yellow-600
  }
  .badge-danger {
    @apply border border-red-600 text-red-600
  }

  .btn {
    @apply p-2 rounded-lg inline-block
  }
  .btn-success {
    @apply text-white bg-green-500
  }
  .btn-primary {
    @apply text-white bg-blue-500
  }
  .btn-danger {
    @apply text-white bg-red-500
  }
  .btn-xs {
    @apply text-xs
  }
}